.maincontainer{
    position: relative;
    align-items: start;
    justify-items: center;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background: transparent;
}

.titlebox{
    flex-direction: column;
    display: flex;
    text-align: center;
}

.title{
    width: 100%;
    color: #36B97E;
    font-weight: 400;
    font-size: 35px;
}
.para{
    align-self: center;
    width: 40%;
    color: #B9BEC0;
    padding-top: 10px;
    font-size: 25px;
}
